<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title> Карточка читателя </title>
    {% macro render_table(table_name, relation, id) %}
    <p>
        <b>{{table_name}} </b>
    </p>
    {% set n = len(relation) %}
    <table>
        <tr>
            {% for name in relation.dtypes.index %}
            {% if name != id %}
            <th>{{name}}</th>
            {% endif %}
            {% endfor %}
        </tr>
        <tbody>
            {% for i in range(n) %}
            <tr>
                {% for name in relation.dtypes.index %}
                {% if name != id %}
                <td>
                    {% if relation.loc[i, name] == None %}
                    <form action='' method="get">
                        <input type="hidden" name=return value={{relation.loc[i, "book_reader_id" ]}}>
                        <input type="submit" value="Сдать">
                    </form>
                    {% else %}
                    {{ relation.loc[i, name] }}
                    {% endif %}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endmacro %}
    {% macro readers_combo_box(readers_df) %}
    <select name="reader_id">
        {% for i, reader_row in readers_df.iterrows() %}
        <option value={{reader_row["reader_id"]}} {{"selected" if reader_row["reader_id"]==reader_id else "" }}>
            {{reader_row["reader_name"]}}</option>
        {% endfor %}
    </select>
    {% endmacro %}
</head>

<body>
    <div class=menu>
        <ul>
            <li class=active><a href={{ url_for("index")}}>Читатель</a></li>
            <li><a href={{ url_for("book")}}>Книги</a></li>
        </ul>
    </div>
    <div class=block>
        <p>
        <form action='' method="get">
            Читатель:
            {{readers_combo_box(readers)}}
            <input type="submit" name="reader" value="Найти">
        </form>
        </p>
        </p>
        <!-- Пока страница не создана, не указывать ее в action -->
        <form action="{{url_for('new_reader_get')}}" method="get">
            <input type="submit" name="new_reader" value="Новый читатель">
        </form>
        </p>
        {{ render_table("Карточка",book_reader, "book_reader_id") }}
        </p>
        <!-- Пока страница не создана, не указывать ее в action -->
        <form action={{url_for('search')}} method="get">
            <input type="submit" value="Взять книгу">
        </form>
        </p>
    </div>
</body>

</html>